@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Work sans, sans-serif;
    color: rgb(70, 70, 70);
}

h1, h2 {
    font-family: Merriweather, sans-serif;
}

#logo {
    letter-spacing: 3px;
    font-size: 250%;
    float: left;
    margin: 20px;
}

#menu {
    letter-spacing: 3px;
    font-size: 125%;
}

#menu li {
    float: right;
    list-style-type: none;
    padding: 10px;
    margin-right: 20px;
}

#menu a {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

#logo, #menu {
    line-height: 50px;
}

#signup-nav {
    color: black;
    font-size: 125%;
    padding: 10px;
    border: 1px solid black;
}