@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Work sans, sans-serif;
    color: rgb(70, 70, 70);
}

h1, h2 {
    font-family: Merriweather, sans-serif;
}

#logo {
    letter-spacing: 3px;
    font-size: 250%;
    float: left;
    margin: 20px;
}

#menu {
    letter-spacing: 3px;
    font-size: 125%;
}

#menu li {
    float: right;
    list-style-type: none;
    padding: 25px 10px;
    margin-right: 20px;
}

#menu a {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

#logo, #menu {
    line-height: 50px;
}

#signup-nav {
    color: black;
    font-size: 125%;
    padding: 10px;
    border: 1px solid black;
}

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#cover-text {
    width: 450px;
    height: 200px;
    background-color: rgba(70, 70, 70, 0.7);
   
    position: absolute;
    right: 75px;
    bottom: 25px;

    font-size: 150%;
    text-align: center;
    padding-top: 50px;
}

#cover-text h2, #cover-text {
    color: #fff;
}

#why-us {
    height: 600px;
}

#us-heading {
    text-align: center;
    font-size: 250%;
    padding: 20px 0;
}

#left-why {
    width: 33%;
    float: left;
}

#right-why {
    width: 33%;
    float: right;
}

#center-why-img {
    width: 33%;
    margin: 0 auto;
}