@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Work sans, sans-serif;
}

h1, h2 {
    font-family: Merriweather, sans-serif;
}

header {
    height: 300px
    width: 100%
}

#logo {
    letter-spacing: 3px;
    font-size: 250%;
    color: rgb(70, 70, 70);
    float: left;
    margin: 20px;
}

#menu {
    float: right;
    letter-spacing: 3px;
    font-size: 125%;
}